    <footer>
      <!--<a class="up-arrow" href="#">-->
      <!--  <span class="glyphicon glyphicon-chevron-up"></span>-->
      <!--</a><br><br>-->
      <p style= "float:left">
        <span class= "glyphicon glyphicon-copyright-mark"></span> <a target="_blank" rel="noopener noreferrer" href="http://www.iub.edu.bd/">Independent University, Bangladesh</a>
        <br><br>
        <span class= "glyphicon glyphicon-home"></span> Plot 16 Block B, Aftabuddin Ahmed Road
        <br>Bashundhara R/A, Dhaka, Bangladesh
      </p>
      <p style= "float:right">
        <span class= "glyphicon glyphicon-phone"></span> Phone:+88-02-8431645-53, 8432065-76
        <br><span class= "glyphicon glyphicon-earphone"></span> Hotline:+880 9612-939393
        <br><span class= "glyphicon glyphicon-briefcase"></span> Fax: +88-02-8431991
        <br><span class= "glyphicon glyphicon-envelope"></span> E-mail: <a href="mailto:info@iub.edu.bd">info@iub.edu.bd</a>
      </p>
      <div style="clear: both"></div>
    </footer>
  
    
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<script src= "jquery-3.3.1.min.js"></script>-->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>