<% include partials/header %>
<head>
    <title>Home Page</title>
</head> 

<body class= "myPage">
    <div class= "container container-home">
        <!--IUB Logo goes here-->
        <p class= "homeheader">
        <a href= "http://www.iub.edu.bd/"><img src="http://www.fhrc-bd.org/images/logo/logo_iub.png" width="150" height="150"></img></a>
            Independent University Bangladesh 
            <span></span>
        </p>
        
        <div class="panel panel-default" style="margin-top: 40px;">
            <div class="panel-body">
                <p class= "homeinfo"> 
                    Founded in 1993, Independent University, Bangladesh is one of the oldest private universities in Bangladesh where academic excellence is a tradition, teaching a passion and lifelong learning a habit. IUB currently has more than 7,048 undergraduate and graduate students and over 10,455 alumni. The student population is projected to grow at 10% annually. The students of IUB experience an exciting academic life with copious opportunity to explore and nurture their innate talent.
                </p>
        
                <a href="/login"> <button class="loginbtn" style="width:auto; align:center; background-color: #581845">Login</button> </a>
                <!--onclick="document.getElementById('id01').style.display='block'"-->
            </div>
        </div>
    </div>

    <!--Login form-->
    <div class= "container container-home">
        <!--Second part which handles the styling of the account creation section-->
        <!--<div id="id01" class="modal">-->
        <!--  <form class="modal-content animate">-->
        <!--    <div class="imgcontainer">-->
        <!--      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>-->
        <!--    </div>-->
            
        <!--    <div class="container container-login">-->
        <!--        <form method= "POST" action= "/index" name="loginForm">-->
                    <!--onsubmit="return validateForm()"    (after name="loginForm") --> 
        <!--            <label for="userID"><b>ID</b></label>-->
        <!--            <input class="input" type="text" placeholder="Enter ID" name="id" id="userID"/>-->
            
        <!--            <label for="psw"><b>Password</b></label>-->
        <!--            <input class="input" type="password" placeholder="Enter Password" name="psw" id="psw">-->
                  
                    <!--<label for="group"><b>Group</b></label>-->
                    <!--<select>-->
                    <!--    <option label="Student">Student</option>-->
                        <!--<option label="Admin">Admin</option>-->
                    <!--</select>-->
                    
        <!--            <input class="loginbtn" type="submit" style="background-color: #581845" value="Login">-->
        <!--            <label>-->
        <!--                <input type="checkbox" checked="checked" name="remember"> Remember me-->
        <!--            </label>-->
        <!--            <br>-->
        <!--            <p>Forgot <a href="https://web-project-amirahkabir.c9users.io/pages/recovery/recover.html">password?</a></p>-->
        <!--        </form>-->
        <!--    </div>-->
        <!--  </form>-->
        <!--</div>-->

        <br><br><br>
        <div class="panel panel-default">
            <div class="panel-body">
                <p style="font-weight: bold;font-size:15px;">
                    New to IUB?
                </p>
                <p>
                    Create your IUB student account, which will serve as your digital assitant to keep track of course information, events, and activites.
                </p>
                
                <a href="/sign-up"> <button class="loginbtn" style="background-color: #581845"> Create Account </button></a>
                
                <!--Little section at the bottom which handles password retrieval-->
                <p style="font-weight: bold; font-size: 15px; margin-top: 15px">
                    Have issues that need help?
                </p>
                <p>
                    Forgot your password? <br><span> That's OK, we are here to help! <br>To recover your password, visit the <a href= "/recover">Forgot Password</a> page.</span>
                    <br><br>
                    IUB account holders: <br><span> If you need assistance with account management, please visit the IUB Help Request Portal. </span>
                </p>
            </div>
        </div>
    </div>
    
    <br><br><br><br><br>
            
<% include partials/footer %>