<% include ./partials/header.ejs %>

<head>
  <title>Login Page</title>
</head>

<body id="loginPage">
    <div class= "container" id="loginheading">
        <!--IUB Logo goes here-->
        <p class= "loginheader">
        <a href= "/"><img src="http://www.fhrc-bd.org/images/logo/logo_iub.png" width="100" height="100"></img></a>
            Login Page 
            <span></span>
        </p>
    </div>
    
    <div class="container">
      <%- messages('message', locals) %>
    </div>
    
    <!--Basically one big form page-->\
   <div class="container container-login">
        <form method="POST" action="/login">
            <!--onsubmit="return validateForm()"    (after name="loginForm") --> 
            <div class="form-group">
                <label for="username"><b>ID</b></label>
                <input class="form-control" type="text" placeholder="Enter ID" name="username" id="username"/>
            </div>
            
            <div class="form-group">
                <label for="password"><b>Password</b></label>
                <input class="form-control" type="password" placeholder="Enter Password" name="password" id="password">
            </div>
                  
            <!--<label for="group"><b>Group</b></label>-->
            <!--<select>-->
            <!--    <option label="Student">Student</option>-->
            <!--<option label="Admin">Admin</option>-->
            <!--</select>-->
            
             <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            
            <input class="loginbtn" type="submit" style="background-color: #581845" value="Login">
            <br>
            
            <p>Forgot <a href="/recover">password?</a></p>
        </form>
    </div>
    
    
    <br><br><br><br><br>


<% include ./partials/footer.ejs %>